@charset "UTF-8";
/* Colors */
/* Fonts */
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/fontello.eot?#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2") format("woff2"), url("../fonts/fontello.woff") format("woff"), url("../fonts/fontello.ttf") format("truetype"), url("../fonts/fontello.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

#page > header .logo {
  float: left;
  display: block;
  width: 150px;
  margin: 22px 0; }
  @media (min-width: 768px) {
    #page > header .logo {
      width: 200px; } }
  @media (min-width: 992px) {
    #page > header .logo {
      width: auto; } }
  #page > header .logo img {
    width: 100%; }

#page > header p {
  font-weight: 300;
  font-size: 15px;
  margin: 0; }
  @media (min-width: 768px) {
    #page > header p {
      font-size: 20px; } }
  @media (min-width: 992px) {
    #page > header p {
      font-size: 24px; } }

#page > header .navbar {
  padding: 0; }

#page > header .navbar-nav {
  width: 100%;
  padding: 0 15px; }
  @media (min-width: 768px) {
    #page > header .navbar-nav {
      padding-left: 0;
      padding-right: 0; } }

#page > footer {
  font-weight: 700;
  color: #666;
  margin-top: 10px; }
  #page > footer .row {
    border-top: 2px solid #dedede;
    padding: 15px 0; }
  #page > footer .copyrights,
  #page > footer .menu {
    margin: 5px 0; }
  #page > footer .copyrights a {
    color: #76889a; }
    #page > footer .copyrights a:hover, #page > footer .copyrights a:focus {
      color: #686582; }
  #page > footer .menu {
    list-style: none;
    padding: 0; }
    #page > footer .menu li {
      display: inline-block;
      margin-left: 10px; }
      #page > footer .menu li:first-child {
        margin-left: 0; }
    #page > footer .menu a {
      color: #666; }
      #page > footer .menu a:focus, #page > footer .menu a:hover {
        color: #686582; }

.content-section {
  padding-top: 25px;
  padding-bottom: 25px; }

.sidebar {
  background-color: #f7f7f7;
  margin-top: 25px;
  padding: 5px 25px; }
  @media (min-width: 992px) {
    .sidebar {
      margin-top: 0; } }
  @media (min-width: 1200px) {
    .sidebar {
      padding: 15px 40px; } }
  .sidebar > div {
    border-bottom: 4px solid #dedede;
    padding: 22px 0 28px; }
    .sidebar > div::after {
      display: block;
      content: "";
      clear: both; }
    .sidebar > div:last-child {
      border: none;
      padding-bottom: 0; }
  .sidebar h2 {
    font-weight: 800;
    font-size: 18px;
    color: #212838;
    margin-bottom: 20px; }
    @media (min-width: 992px) {
      .sidebar h2 {
        max-width: 70%; } }
    @media (min-width: 1200px) {
      .sidebar h2 {
        max-width: 65%; } }
  .sidebar p {
    margin-bottom: 20px; }
  .sidebar .logos-wrapper {
    font-size: 0;
    margin: -10px 0; }
    .sidebar .logos-wrapper span {
      display: inline-block;
      width: 50%;
      margin: 10px 0;
      text-align: center;
      vertical-align: middle; }
      @media (min-width: 576px) {
        .sidebar .logos-wrapper span {
          width: 25%; } }
      @media (min-width: 992px) {
        .sidebar .logos-wrapper span {
          width: 33.33%; } }
  .sidebar p[class^="contact"] {
    font-weight: 800;
    font-size: 18px;
    position: relative;
    padding-left: 60px;
    width: 100%;
    float: none; }

@media (min-width: 576px) and (max-width: 991px) {
  .sidebar p[class^="contact"] {
    width: 50%;
    float: left; } }
    @media (min-width: 1200px) {
      .sidebar p[class^="contact"] {
        padding-left: 78px; } }
    .sidebar p[class^="contact"]:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-position: 0 0; }
    .sidebar p[class^="contact"].contact-phone:before {
      width: 24px;
      height: 24px;
      background-image: url("../images/icon-phone.png"); }
    .sidebar p[class^="contact"].contact-email:before {
      width: 23px;
      height: 17px;
      background-image: url("../images/icon-mail.png"); }
    .sidebar p[class^="contact"] a {
      color: #666; }
      .sidebar p[class^="contact"] a:focus, .sidebar p[class^="contact"] a:hover {
        color: #686582; }

body {
  min-width: 320px;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 14px; }

.heading-with-line {
  font-weight: 700;
  font-size: 18px;
  color: #aac7b9;
  text-transform: uppercase;
  overflow: hidden;
  margin-bottom: 20px; }
  .heading-with-line span {
    position: relative; }
    .heading-with-line span:after {
      content: '';
      display: block;
      width: 10000px;
      height: 2px;
      background-color: #dedede;
      position: absolute;
      top: 50%;
      left: calc(100% + 20px);
      margin-top: -1px; }

.heading-highlight {
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  max-width: 80%;
  margin: 10px auto 15px; }
  @media (min-width: 768px) {
    .heading-highlight {
      margin-top: 25px;
      margin-bottom: 25px; } }
  .heading-highlight b {
    font-weight: 900; }

a {
  color: #76889a; }
  a:focus, a:hover {
    color: #686582;
    text-decoration: none; }
  a img {
    display: block;
    border: none; }

b {
  font-weight: 700; }

.btn {
  font-weight: 700; }

.btn-primary {
  background-color: #76889a;
  border-color: #76889a; }
  .btn-primary:hover {
    background-color: #686582;
    border-color: #686582; }

.btn-secondary {
  color: #76889a;
  border-color: #dedede; }
  .btn-secondary:hover {
    color: #686582;
    background-color: #fff;
    border-color: #dedede; }

button {
  cursor: pointer; }

.navbar {
  background-color: #231f20; }
  @media (min-width: 768px) {
    .navbar {
      background: linear-gradient(to bottom, #2f292b 0%, #2f292b 50%, #231f20 51%, #231f20 100%); } }
  .navbar .navbar-toggler {
    border-color: #fff;
    align-self: flex-end;
    margin: 10px;
    padding: 0 5px; }
  .navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.nav-link {
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 15px 13px;
  border-bottom: 2px solid transparent; }
  .active .nav-link, .nav-link:focus, .nav-link:hover {
    color: #aac7b9;
    border-bottom-color: #aac7b9; }

.breadcrumb {
  background: none;
  border-radius: 0;
  padding: 0; }

.breadcrumb-item {
  font-size: 12px; }
  .breadcrumb-item + .breadcrumb-item:before {
    content: '\f105';
    font-family: "fontello";
    color: #999; }
  .breadcrumb-item a {
    color: #999; }
    .breadcrumb-item a:focus, .breadcrumb-item a:hover {
      color: #686582; }
  .breadcrumb-item.active {
    font-weight: 700;
    color: #76889a; }

.main-carousel {
  border-bottom: 7px solid #76889a; }
  .main-carousel .carousel-item img {
    width: 100%;
    display: block; }
  .main-carousel .carousel-caption {
    bottom: auto;
    left: auto;
    max-width: 370px;
    color: #231f20; }
    @media (min-width: 768px) {
      .main-carousel .carousel-caption {
        top: 8%;
        right: 2%; } }
    @media (min-width: 992px) {
      .main-carousel .carousel-caption {
        top: 10%;
        right: 5%; } }
    @media (min-width: 1200px) {
      .main-carousel .carousel-caption {
        top: 15%;
        right: 8%; } }
    .main-carousel .carousel-caption h1 {
      font-weight: 300;
      font-style: italic;
      font-size: 24px;
      letter-spacing: 1.5px;
      margin-bottom: 16px; }
      @media (min-width: 992px) {
        .main-carousel .carousel-caption h1 {
          font-size: 32px;
          margin-bottom: 32px; } }
      .main-carousel .carousel-caption h1 b {
        font-weight: 700; }
    .main-carousel .carousel-caption p {
      font-weight: 300;
      font-style: italic;
      font-size: 14px;
      letter-spacing: 0.5px;
      max-width: 90%; }
      .main-carousel .carousel-caption p span {
        display: block;
        text-align: right;
        margin: 15śpx 0 0;
        font-weight: 700;
        font-style: italic; }
        @media (min-width: 992px) {
          .main-carousel .carousel-caption p span {
            margin-top: 30px; } }

.box {
  margin: 25px 0;
  padding: 10px 25px 25px;
  border: 2px solid #dedede;
  position: relative; }
  @media (min-width: 992px) {
    .box {
      padding: 10px 35px 30px; } }
  @media (min-width: 1200px) {
    .box {
      padding: 10px 40px 40px; } }
  .box .title {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    background: #fff;
    padding: 0 15px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%); }
    @media (min-width: 992px) {
      .box .title {
        font-size: 24px;
        top: -15px; } }
  .box .gfx-wrapper {
    min-height: 110px;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 768px) {
      .box .gfx-wrapper {
        min-height: 130px; } }
  .box p {
    font-size: 15px; }
  .box .btn {
    border-width: 2px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%); }
  .box .btn-secondary {
    text-transform: uppercase; }

.col-form-label {
  font-weight: 700; }

.col-form-label-lg {
  font-size: 1.15rem; }

@media (min-width: 992px) {
  .post {
    padding-right: 30px; } }

.post h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 0.83em;
  margin-top: 2rem;
  margin-bottom: 2.5rem; }
  .post h1 + p {
    font-weight: 700;
    font-size: 1.15rem;
    color: #76889a; }
    .post h1 + p:after {
      content: '';
      display: block;
      width: 70px;
      height: 5px;
      background-color: #76889a;
      margin-top: 30px;
      margin-bottom: 30px; }

.post p, .post ul, .post ol {
  font-size: 1rem;
  margin-bottom: 1.5rem; }

.post img {
  display: block;
  margin-bottom: 30px; }
  .post img.half-width {
    width: 100%; }
    @media (min-width: 576px) {
      .post img.half-width {
        width: calc(50% - 15px);
        float: left; }
        .post img.half-width + .half-width {
          float: right; } }
  .post img.full-width {
    width: 100%; }

.post > *:last-child {
  margin-bottom: 0; }

.card-columns {
  column-count: 1;
  column-gap: 30px; }
  @media (min-width: 576px) {
    .card-columns {
      column-count: 2; } }
  .card-columns .post-thumb {
    margin-bottom: 42px;
    border-bottom: 8px solid #f7f7f7;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column; }
    .card-columns .post-thumb::after {
      display: block;
      content: "";
      clear: both; }
    .card-columns .post-thumb img {
      display: block;
      width: 100%;
      margin-bottom: 30px; }
    .card-columns .post-thumb h3 {
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 20px; }
    .card-columns .post-thumb a {
      background-color: #fff;
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
      float: right;
      margin-bottom: -17px;
      padding-left: 18px; }
      .card-columns .post-thumb a:after {
        content: '';
        display: inline-block;
        width: 6px;
        height: 10px;
        background: url("../images/icons/icon-arrow-link.png") no-repeat 0 0;
        vertical-align: 0;
        margin-left: 10px; }
      .card-columns .post-thumb a:hover:after {
        background-position: 100% 100%; }

.news-section {
  margin-bottom: 30px; }
  .news-section [class^="col"] {
    background-color: #f9f9f9;
    padding: 30px 40px; }
    .news-section [class^="col"]:nth-child(even) {
      background-color: #f5f5f5; }

@media (min-width: 576px) and (max-width: 991px) {
  .news-section [class^="col"]:nth-child(n+2), .news-section [class^="col"]:nth-child(n+3) {
    background-color: #f5f5f5; }
  .news-section [class^="col"]:nth-child(4n) {
    background-color: #f9f9f9; } }
  .news-section h4 {
    font-weight: 700;
    font-size: 18px;
    color: #666;
    min-height: 80px;
    margin: 0; }
  .news-section .btn {
    text-transform: uppercase; }
    .news-section .btn:after {
      content: '\e800';
      display: inline-block;
      font-family: "fontello";
      font-size: 10px;
      margin-left: 10px; }

.contact .content-section {
  padding-top: 15px; }
  @media (min-width: 992px) {
    .contact .content-section {
      padding-top: 35px; } }

.contact .content .box {
  padding-top: 30px; }
  @media (min-width: 768px) {
    .contact .content .box {
      padding: 70px 60px 50px; } }
  .contact .content .box .title {
    text-transform: uppercase; }
  @media (min-width: 992px) {
    .contact .content .box .btn {
      left: auto;
      right: 30px; } }

.contact .contact-sidebar {
  padding: 20px; }
  .contact .contact-sidebar h2 {
    font-weight: 700;
    font-size: 1.15rem;
    color: #385d6d;
    margin-bottom: 40px; }
    @media (min-width: 992px) {
      .contact .contact-sidebar h2 {
        margin-bottom: 70px; } }
  .contact .contact-sidebar p {
    font-weight: 700;
    margin-bottom: 40px; }
    @media (min-width: 992px) {
      .contact .contact-sidebar p {
        margin-bottom: 50px; } }
    .contact .contact-sidebar p ~ p {
      margin-bottom: 10px; }
    .contact .contact-sidebar p a, .contact .contact-sidebar p span {
      font-weight: 700;
      font-size: 2rem;
      line-height: 1.2;
      color: #76889a; }